

OK, let's begin!

Which quiz would you like to take?

<br>
  <form action="/sportsquiz" method="post">
    <input type ="submit" action="/sportsquiz" method="post" name="sportsquiz" value='Sports quiz'>
  </form>
